<h1>New Reward</h1>

<%= simple_form_for [@project,@reward] do |f| %>
<div class="col-md-8">
<%= f.input :title  %>
<%= f.input :details  %>
<%= f.input :minimum_amount  %>
<%= f.button :submit %>

<% end %>
</div>