
<!-- -->
<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<nav class="navbar">

		<ul class="nav navbar-nav mynav">
			 <li><%=link_to('DISCOVER', projects_path) %></li>
			 <li><a href="#">SUBMIT</a></li>
			 <% if user_signed_in? %>
			 <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete  %></li>
			 <%else%>
			 <li>
			  <%= link_to('LOG IN', new_user_session_path)  %>  
			  </li>
			 <%end%>
		</ul>
	</nav>
	
	<section class="home">
		<div style="width: 400px;margin-left:auto;margin-right:auto;padding-top:7%;">
			<img src="assets/obra_logo.png" style="width: 400px;"/>
		</div>
	</section>
	
	<section class="features" style="text-align:center">
		<span style="font-size:30px;">How it works:</span>
		<div class="container">
		<div class="row">
			<div class="col-md-4" style="text-align:center;">
				<a>
					<div class="icon1">
					</div>
				</a>
				<span style="color:#231f20;font-size:15px;">View Projects</span>
			</div>
			<div class="col-md-4">
				<a>
					<div class="icon2">
					</div>
				</a>
				<span style="color:#231f20;font-size:15px;">Fund Filmmakers</span>
			</div>
			<div class="col-md-4">
				<a>
					<div class="icon3">
					</div>
				</a>
				<span style="color:#231f20;font-size:15px;">Get Rewards</span>
			</div>
		</div>
		</div>
			<div class="clear"></div>
	</section>
	
	<section class="popular">
		<div class="container">
			<div class="row" style="height: 100px;line-height:100px;">
				<div class="col-md-6">
					<span style="font-size: 30px;">Popular Now</span>
				</div>
				<div class="col-md-6" style="text-align:right;">
					<%= link_to "See All", projects_path, :class=>"seeall"  %>
				</div>
			</div>
			<div class="container marg-cont1">
			<div class="row marg-row">
				<%@projects.sort_by{}.first(4).each do |project| %>
				<div class="col-xs-3">
				    <div class="card1">
				    <img src="assets/img_preview3.jpg" class="img-responsive">
				    <div class="inner">
				          <b> <%= link_to project.title, project,:class=>"prj-title" %> </b> <br>
				          <%= truncate(project.summary, length:60) %> <br>
				          <b>PHP <%= sprintf('%.2f',project.current_amount) %> </b>
				          <span style="float:right;"><%=(((project.current_amount.to_f)/(project.goal).to_f)*100).to_i%>% </span>
		             <ul class="graph">
		                      <li>
		                        <span class="cans" style="width:<%=(((project.current_amount.to_f)/(project.goal).to_f)*100)%>%">
		                        </span>
		                       </li>
		              </ul>

		             </div>
			      </div>
		      </div>
		      <% end %>
		    </div>
			</div>
			<div class="clear"></div>
		</div>
	</section>
	<footer class="site-footer">
		<span style="color: #fff;font-size: 15px;">
		<a>About Us</a> | <a>Terms and Conditions</a> | Copyright 2015
		</span>
	</footer>	
    <!-- Bootstrap Core JavaScript -->
</body>
</html>